body {
    background-color: goldenrod;
}

.calculadora {
    background-color: coral;
    width: 40em;
    height: 40em;
    padding: 0.25em;
    border: 0.5em solid black;
    border-radius: 2em;
    margin: 1em;
}

.calculadora > h1 {
    text-align: center;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size: 2em;
    margin-bottom: -0.5em;
}

.calculadora > h2 {
    text-align: center;
    margin-bottom: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 1.25em;
    margin-bottom: 1.5em;
}

#entradas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5em;
}

.entrada {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    align-self: center;
}

.entrada label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-self: center;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.entrada input {
    width: 10em;
}

.flecha {
    transform: rotate(90deg);
    width: 2em;
    align-self: center;
    padding: 0.3em;
    margin-bottom: 1.5em;
    border: 0.1em solid black;
    background-color: white;
}

.entrada > .huso {
    align-self: center;
    width: 2em;
    margin-bottom: 1.5em;
    text-align: center;
}

select {
    width: 7em;
    align-self: center;
    margin-bottom: 1.5em;
}

.distancia {
    display: flex;
    flex-direction: column;
    margin-top: 10em;
    align-content: center;
}

.distancia label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-self: center;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.distancia input {
    width: 5em;
    align-self: center;
}

button {
    margin: 0 auto;
    margin-bottom: 2em;
    font-size: 1em;
    align-items: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.distancia > p {
    margin-top: 13em;
    align-self: center;
    font-family: "Andale Mono", AndaleMono, monospace;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.distancia > p:hover {
    color: white;
}

input {
    text-align: center;
}

.hidden {
    display: none;
}