body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

h1 {
    text-align: center;
    color: white;
}

#contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contenido input {
    font-size: 1.25em;
}

#tickers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.empresa {
    display: flex;
    flex-direction: column;
    margin: 1.5em;
    align-items: center;
    border: 0.5em solid white;
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: orange;
}

.empresa > .cuerpo {
    align-items: center;
}

.encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.encabezado * {
    margin: 0;
    padding-bottom: 0.35em;
}

.intercambio {
    font-size: 0.75em;
}

.hidden {
    display: none;
}

.actualizacion {
    font-size: 1em;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-weight: bold;
}