body { 
  background-color: #C0C0C0; 
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  overflow: auto;
  min-width: 53em;
  font-weight: 100;
  background-image: linear-gradient(to bottom, silver, grey);
}

header { 
  text-align: center; 
  background-image: url(./multimedia/header.jpg);
  border: 0.1875em solid black;
  border-style: double;
  padding-left: 16rem;
  padding-right: 16rem;
}

h1 { 
  border: 0.2em solid white;
  font-family: "Andale Mono", AndaleMono, monospace;
  background-color: #000000;
  color: white; 
  border-style: ridge;
  font-size:2em;
  margin: 0.3em;
  padding: 0.25em;
}

h2 { 
  font-family: "Andale Mono", AndaleMono, monospace; 
  text-align: center;
  color: white;
  background: linear-gradient(to right, black, grey);
  border: 0.1875em solid white;
  border-style: dashed;
}

h3 {
  text-align: center;
  font-weight: bold;
}

.inicio > section {
  border: 0.2em solid black;
  background-color: azure;
  overflow: auto;
  height: auto;
}

p {
  margin: 0.75em;
}

.inicio section img {
  float: left;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  width: 25%;
  height: 25%;
}

.protagonistas section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  border: 0.25em solid black;
  background-color: azure;
  margin: 0.75m;
}

.protagonistas section ul {
  border-left: 3em solid transparent;
  border-right: 3em solid transparent;
}

.protagonistas img {
  width: 25%;
  height: 25%;
  min-width: 300px;
  border-radius: 1em;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: left;
  align-content: left;
  justify-content: left;
  list-style-position: outside;
}

li {
  list-style: circle inside url(./multimedia/ghost.png);
  font-weight: bold;
  text-align: left;
  padding: 0.125em;
  font-size: 1.25em;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

nav + section { 
  border: 0.2em solid black;
  padding: 1%;
}

img.encabezado {
  padding-top: 0;
  padding-bottom: 5%;
}

table, tr, td {
  margin-left: auto;
  margin-right: auto;
  border: 0.15em solid black;
  border-style: solid;
  text-align: center;
  padding: 0.3125em;
  background-color: azure;
}

audio {
  margin: 0 auto;
  display: block;
  padding-top: 0.5em;
  height: 2em;
  outline: none;
}

video {
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
  background-color: #000000;
}

a {
  font-family: "Andale Mono", AndaleMono, monospace;
  color: #000000;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
}

nav ul li:hover {
  background-color: black;
}

nav ul li:hover a {
  color: white;
}

footer {
  padding-top: 1.25em;
  text-align: center;
  font-size: 1.4em;
}

footer p {
  border: 0.05em solid black;
  background-color: azure;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: fit-content;
  text-align: center;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

nav ul li {
  background-color: azure;
  padding-left: 1em;
  padding-right: 1em;
  border: 0.15em solid black;
}